<div class="about">
    <div class="container">
        <div class="about__inner">
            <h2 class="about__title">ЧТО ТАКОЕ БАЗА ПОСТАВЩИКОВ?</h2>
            <div class="about__info">
                <div class="about__info-item">
                    <p><b>База поставщиков</b> - это ваш личный кабинет на моей закрытой платформе.
    
                        Которая включает в себя:
                        
                        -российских поставщиков 
                        -украинских поставщиков
                        -китайских поставщиков 
                        <p>
                            Это контакты производителей одежды, обуви, аксессуаров, косметики и других товаров, у которых закупаются все Интернет-магазины, организаторы совместных закупок и шоу-румы.
                        Эту информацию практически невозможно найти и стоит она больших денег!
                        В Базе собрано огромное количество ссылок на сайты и контакты поставщиков из разных стран, у которых товары БЕЗ наценок! Можно заказывать как оптом, так и в розницу!
                        </p>
                        <p>
                            -контакты швейных производств 
                            (производства, фабрики,ткани/фурнитура)
                            Все, что нужно для запуска своей линейки одежды/ нижнего белья. 
                        </p>.
                        <p>
                            -курс по таргету
                        Видео-обучение с нуля. Как набрать живую аудиторию. Все самые полезные и действительные телеграм каналы по таргету, с фишками. Инстаграмы практикующих таргетологов, которые каждый день делятся информацией бесплатно.
                        </p>
                        <p>
                            -план действие по открытию магазина
                            (с чего начать, как оформить профиль, как набрать первую аудиторию, как начать работать без вложений)
                        </p>
                </div>
                <div class="about__info-item2">
                    <img src="/img/about/t2UGveHrNzI.webp" alt="" >
                </div>
            </div>
        </div>
    </div>
</div>