<header class="header">
    <div class="container">
        <div class="header__inner">
            <img src="/img/img__header/logo.webp" alt="logo" width="164px" height="60px">
            <nav class="nav">
                <a href="" class="nav__link">О нас</a>
                <a href="" class="nav__link">Доставка</a>
                <a href="" class="nav__link">Контакты</a>
                <a href="" class="nav__link">Вакансии</a>
            </nav>
            <div class="social">
                <a class="social__link" href="">
                    <img class="social__img" src="/img/img__header/inst.webp" alt="">
                </a>
                <a class="social__link" href="">
                    <img class="social__img" src="/img/img__header/telegram.webp" alt="">
                </a>
            </div>
        </div>
    </div>
</header>


